## Pymaceuticals H/W
### Objetive: Show comparisons between four drugs: Capomulin, Infubinol, Ketapril, Placebo
### Trends
##### 1. What Trend
##### 2. What Trend
##### 3. What Trend

In [1]:
#imports

import pandas as pd
import numpy  as np

#plotting library
import matplotlib.pyplot as plt

In [2]:
#source data
mouseDrugPd = pd.read_csv("raw_data/mouse_drug_data.csv")
clinicalPd = pd.read_csv("raw_data/clinicaltrial_data.csv")

DrugsOfConcern = ["Capomulin", "Infubinol", "Ketapril","Placebo"]

In [3]:
#intrnal data format remove this
print(f"MouseDrugPd = {mousePd.head(3)}")
print("=========================================")
print(f"clinicalPd = {clinicalPd.head(3)}")

NameError: name 'mousePd' is not defined

In [4]:
##len (clinicalPd['Mouse ID'].unique()) == len (mouseDrugPd['Mouse ID'].unique()) # = 249

In [5]:
#Join tables
#Both data frames are index by sequerial number
#merge bot dataframes
#re-index both 'Mouse ID' and allow duplicate keys
#it appears each rat got one drug
mPd = mouseDrugPd
cPd = clinicalPd.set_index('Mouse ID')
data = mPd.merge(clinicalPd)
data.set_index('Mouse ID',inplace=True)

data.loc['b128']

               Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
Mouse ID
b128      Capomulin          0           45.000000                 0
b128      Capomulin          5           45.651331                 0
b128      Capomulin         10           43.270852                 0
b128      Capomulin         15           43.784893                 0
b128      Capomulin         20           42.731552                 0
b128      Capomulin         25           43.262145                 1
b128      Capomulin         30           40.605335                 1
b128      Capomulin         35           37.967644                 1
b128      Capomulin         40           38.379726                 2
b128      Capomulin         45           38.982878                 2

In [6]:
volumeOverTimeDf = data.reset_index()
volumeOverTimeDf.sort_values(['Timepoint','Tumor Volume (mm3)']).head(5)

   Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0      f234  Stelasyn          0                45.0                 0
8      x402  Stelasyn          0                45.0                 0
18     a492  Stelasyn          0                45.0                 0
28     w540  Stelasyn          0                45.0                 0
34     v764  Stelasyn          0                45.0                 0

In [44]:
#Group showing how each drug 
drug_Group = data.groupby(['Drug','Timepoint','Tumor Volume (mm3)']) 


drug_Group.sum()

                                        Metastatic Sites
Drug      Timepoint Tumor Volume (mm3)
Capomulin 0         45.000000                          0
          5         38.796474                          0
                    39.202129                          0
                    41.019913                          0
                    41.408591                          1
                    41.534097                          0
                    42.261665                          0
                    43.180977                          0
                    43.878496                          0
                    44.022752                          0
                    45.462243                          0
                    45.473753                          0
                    45.595685                          0
                    45.597064                          0
                    45.622381                          1
                    45.641438                          0
                    45.651331                          0
                    45.704434                          0
                    45.737145                          0
                    45.760886                          1
                    45.781746                          1
                    45.838998                          0
                    45.839400                          0
                    45.851193                          0
                    45.893720                          0
                    45.895647                          0
          10        35.624403                          0
                    36.825367                          1
                    37.614948                          0
                    39.005493                          2
...                                                  ...
Zoniferol 35        63.686445                          2
                    66.742924                          1
          40        56.994816                          4
                    58.647056                          4
                    59.903044                          3
                    60.861844                          3
                    61.380249                          1
                    61.768605                          4
                    62.221915                          4
                    62.327171                          2
                    63.194428                          2
                    63.281071                          4
                    64.938406                          3
                    65.708323                          2
                    68.498639                          2
                    71.108118                          1
          45        60.752704                          4
                    61.840058                          4
                    62.109651                          4
                    62.327966                          4
                    63.488697                          2
                    64.294085                          2
                    64.575222                          4
                    66.794156                          4
                    67.942121                          2
                    68.163195                          4
                    68.401286                          3
                    68.611061                          3
                    70.827796                          2
                    73.324432                          1

[1664 rows x 1 columns]

In [47]:
#columns of drug versus index of timepoints
timeVsDrugDict = {}
timePoints = []

timePointVsDrugGroup = data.groupby(['Timepoint'])
totalDrugList = set(data["Drug"])

#pre-seed with empty list
for drugName in totalDrugList:
   timeVsDrugDict[drugName] = []; 


for timeP, r_df in timePointVsDrugGroup:
    timePoints.append(timeP)
    for drugName in totalDrugList: 
       timeVsDrugDict[drugName].append(np.mean(r_df.loc[r_df['Drug'] == drugName,'Tumor Volume (mm3)']))
    
    
        

timeVsDrugDict['Timepoint'] = timePoints 
timeVsDrug_df = pd.DataFrame.from_dict(timeVsDrugDict)

timeVsDrug_df.set_index("Timepoint", inplace=True)

timeVsDrug_df

,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334
25,39.939528,54.287674,55.715252,57.678982,56.731968,57.482574,55.504138,38.974300,56.166123,55.432935
30,38.769339,56.769517,58.299397,60.994507,59.559509,59.809063,58.196374,38.703137,59.826738,57.713531
35,37.816839,58.827548,60.742461,63.371686,62.685087,62.420615,60.350199,37.451996,62.440699,60.089372
40,36.958001,61.467895,63.162824,66.068580,65.600754,65.052675,63.045537,36.574081,65.356386,62.916692
45,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888

In [48]:
#plot the above